@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.primary{
    @include breakpoint(tablet){
        padding-left: 3%;
        padding-right: 3%;
    }
    @include breakpoint(desktopxl){
        padding: 0px;
        min-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 3%;
    }
    .gallery{
        @include breakpoint(tablet){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            margin-bottom: 150px;
        }
        @include breakpoint(desktopxl){
            grid-template-columns: 1fr 1.5fr;
            gap: 35px;
        }
        img:first-of-type{
            margin-bottom: 30px;
            @include breakpoint(tablet){
                height: 400px;
                margin-left: -67px;
                margin-bottom: 0px;
                width: calc(100% + 67px);
            }
            @include breakpoint(desktopxl){
                margin-left: -96px;
                height: 500px;
                width: 100%;
            }
        }
        .gallery_content{
            h2{
                font-family: $titule-font;
                font-size: 60px;
                font-weight:900;
                margin-bottom: 30px;
                line-height: 55px;
                text-transform: uppercase;
                @include breakpoint(tablet){
                    width: 90%;
                    margin-bottom: 30px;
                }
                @include breakpoint(desktopxl){
                    width: 85%;
                    font-size: 70px;
                    margin-bottom: 20px;
                    line-height: 65px;
                    padding-bottom: 50px;
                }
            }
            p{
                font-size: 18px; 
                color: $grey;
                margin-bottom: 40px;
                width: 70%;
                @include breakpoint(tablet){
                    width: 90%;
                    margin: 0px;
                }
                @include breakpoint(desktopxl){
                    width: 95%;
                    font-size: 24px;
                    line-height: 35px;
                }
            }
            @include breakpoint(tablet){
                width: 80%;
                height: 400px;
                margin: 0px;
                padding-top: 30px;
                padding-left: 4%;
                grid-row: 1 / 1;
            }
            @include breakpoint(desktopxl){
                height: 500px;
                padding-top: 80px;
                padding-left: 3%;
            }
        }
        img:nth-of-type(2){
            margin-bottom: 20px;
            @include breakpoint(tablet){
                width: 100%;
                height: 720px;
                margin: 0px;
            }
            @include breakpoint(desktopxl){
                height: 915px;
            }
        }
        .mv-dsk{
            margin-bottom: 20px;
            @include breakpoint(tablet){
                height: 311px;
                margin: 0px;
            }
            @include breakpoint(desktopxl){
                height: 430px;
                width: 90%;
            }
        }
    }
}
