@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.primary{
    @include breakpoint(tablet){
        position: relative;
        padding-left: 5%;
        padding-right: 5%;
    }
    @include breakpoint(desktopxl){
        padding-left: 150px;
        padding-right: 150px;
    }
    .gallery{
        @include breakpoint(tablet){
            max-width: 1120px;
            display: grid;
            grid-template-columns: 400px 720px;
            gap: 7px;
        }
        @include breakpoint(desktopxl){
            grid-template-columns: 700px 1000px;
            gap: 35px;
        }
        img:first-of-type{
            margin-bottom: 30px;
            @include breakpoint(tablet){
                position: relative;
                right: 120px;
                width: 400px;
                max-height: 400px;
                margin: 0px;
            }
            @include breakpoint(desktopxl){
                right: 120px;
                width: 1400px;
                min-height: 500px;
                right: 190px;
            }
        }
        .gallery_content{
            h2{
                font-family: $titule-font;
                font-size: 60px;
                font-weight:900;
                margin-bottom: 30px;
                line-height: 55px;
                text-transform: uppercase;
                @include breakpoint(tablet){
                    width: 75%;
                }
                @include breakpoint(desktopxl){
                    width: 55%;
                    font-size: 70px;
                    margin-bottom: 30px;
                    line-height: 65px;
                    padding-bottom: 50px;
                }
            }
            p{
                font-size: 18px; 
                color: $grey;
                margin-bottom: 40px;
                max-width: 90%;
                @include breakpoint(tablet){
                    width: 80%;
                    margin: 0px;
                }
                @include breakpoint(desktopxl){
                    width: 65%;
                    font-size: 24px;
                }
                
            }
            @include breakpoint(tablet){
                max-width: 291px;
                max-height: 400px;
                margin: 0px;
                padding-top: 30px;
                padding-left: 5px;
                grid-row: 1 / 1;
            }
            @include breakpoint(desktopxl){
                max-width: 600px;
                max-height: 500px;
                padding-top: 60px;
                padding-left: 10px;
            }

        }
        img:nth-of-type(2){
            margin-bottom: 20px;
            @include breakpoint(tablet){
                width: 100%;
                height: 720px;
                margin: 0px;
                margin-bottom: 100px;
            }
            @include breakpoint(desktopxl){
                width: 700px;
                height: 915px;
            }
        }
        .mv-dsk{
            margin-bottom: 20px;
            @include breakpoint(tablet){
                display: none;
            }
            @include breakpoint(desktopxl){
                display: block;
                width: 810px;
                height: 430px;
            }
        }
        .tbt{
            display: none;
            @include breakpoint(tablet){
                display: block;
                width: 40%;
                height: 300px;
            }
            @include breakpoint(desktopxl){
                display: none;
            }
        }
    }
}
