@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container{
    max-width: 1900px;
}
.hero{
    .tablet{
        display: none;
    }
    .desktop{
        display: none;
    }
    @include breakpoint(tablet){
        position: relative;
        margin-bottom: 0px;
        min-width: 768px;
        height: 850px;
        .movil{
            display: none;
        }
        .tablet{
            display:block;
        }
    }
    @include breakpoint(desktopxl){
        margin-bottom: 200px;
        &::after{
            content: '';
            display: block;
            width: 40%;
            height: 920px;
            background-color: $black;
            position: relative;
            top: -1344px;
            left: -16px;
        }
        .tablet{
            display: none;
        }
        .desktop{
            display:block;
        }
    }
    .movil{
        width:calc(100% + 32px);
        max-height: 630px;
        margin-bottom: 25px;
        margin-left: -16px;
        margin-right: -16px;
        margin-top: -16px;
    }
    .tablet{
        @include breakpoint(tablet){
            width: 55%;
            height: 90%;
            margin-left: -16px;
            margin-top: -16px;
        }
    }
    .desktop{
        @include breakpoint(desktopxl){
            position: relative;
            top: -16px;
            left: 40%;
            width: 40%;
            height: 920px;
            margin-left: -16px;
        }
    }
    h1{
        font-family: $titule-font;
        font-size: 60px;
        line-height: 55px;
        color: $black;
        margin-bottom: 30px;
        font-weight: bold;
        @include breakpoint(tablet){
        margin: 0px;
        width: 50%;
        font-size: 70px;
        line-height: 65px;
        font-weight: 900;
        position: relative;
        bottom: 560px;
        left: 46%;
        }
        @include breakpoint(desktopxl){
            color: $white;
            z-index: 1;
            font-size: 130px;
            line-height: 110px;
            top: -750px;
            left: 224px;
        }
    }
    p{
        color: $grey;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 30px;
        @include breakpoint(tablet){
        width: 50%;
        font-size: 20px;
        margin: 0px;
        position: relative;
        bottom: 500px;
        left: 47%;
        }
        @include breakpoint(desktopxl){
            width: 25%;
            top: -940px;
            left: 74%;
            z-index: 1;
            font-size: 22px;
            font-weight: 400;
        }
    }
    .hero_button{
        display: inline-flex;
        margin-bottom: 120px;
        @include breakpoint(tablet){
            position: relative;
            bottom: 445px;
            left: 47%;
            width: 270px;
            margin-bottom: 0px;
        }
        @include breakpoint(desktopxl){
            left: 75%;
            top: -750px;
        }
        &:hover{
            a{
                background-color: $orange;
            }
            .flecha{
                background-color: $black;
            }
        }
        a{
            @include reset-link;
            @include button($black);
            font-family: $titule-font;
            font-size: 24px;
            font-weight: 400;
            @include breakpoint(tablet){
                font-size: 30px;
            }
        }
        .flecha{
            width: 55px;
            margin: 0px;
            background-color: $orange;
            padding: 0px 20px;
            position: relative;
            top: 0px;
            height: auto;
            cursor: pointer;
            @include breakpoint(tablet){
                width: 20%;
            }
        } 
    }
}