@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.inspiration{
    background-color: $black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 45px;
    padding-bottom: 50px;
    margin-bottom: 150px;
    width: 100%;
    @include breakpoint(tablet){
        padding-top: 80px;
        height: 398px;
        margin: 0px;
        grid-column: 2 / 3;
        margin-top: -408px;
    }
    @include breakpoint(desktopxl){
        padding-left: 70px;
        height: 450px;
        width: 90%;
        margin-top: -483px;
    }
    h2{
        font-family: $titule-font;
        font-size: 60px;
        line-height: 55px;
        margin-bottom: 30px;
        color: $white;
        @include breakpoint(tablet){
            font-size: 50px;
        }
        @include breakpoint(desktopxl){
            font-size: 70px;
            line-height: 85px;
            width: 50%;
        }
    }
    p{
        color: $white;
        max-width: 85%;
        @include breakpoint(tablet){
            width: 70%;
            font-size: 18px;
            font-weight: 100;
        }
        @include breakpoint(desktopxl){
            font-size: 24px;
        }
    }
}